@model Scrambles.Models.ScoresListVM
@{
    var scoreColumnIndex = Model.IsAdmin ? 3 : 2;
    var sortOffset = Model.IsAdmin ? 1 : 0;
}


<div style="padding-top: 10px;">
    <h3>
        <span>
            <a class="label label-primary" href="#showAll">Show All</a>
            <a class="label label-primary" href="#showEmpty">Show Empty</a>
        </span>
    </h3>
</div>
<table id="table1">
    <thead>
    <tr>
        @if (Model.IsAdmin)
        {
            <th>Edit</th>
        }
        <th>@Html.DisplayNameFor(model => model.Scores[0].RoundNumber)</th>
        <th>@Html.DisplayNameFor(model => model.Scores[0].VideoUrl)</th>
        <th>@Html.DisplayNameFor(model => model.Scores[0].Score)</th>
        <th>@Html.DisplayNameFor(model => model.Scores[0].Jumper1)</th>
        <th>@Html.DisplayNameFor(model => model.Scores[0].Jumper2)</th>
        <th>@Html.DisplayNameFor(model => model.Scores[0].Jumper3)</th>
        <th>@Html.DisplayNameFor(model => model.Scores[0].Jumper4)</th>
        <th>@Html.DisplayNameFor(model => model.Scores[0].Camera)</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Scores)
    {
        var scoreDisplay = item.Score != null ? item.Score.ToString() : " ";
        <tr>
            @if (Model.IsAdmin)
            {
                <td>@Html.ActionLink("Edit", "Edit", new {id = item.ID})</td>
            }
            <td>@Html.DisplayFor(model => item.RoundNumber)</td>
            <td>
                @if (item.VideoUrl != null)
                {
                    <a href="@item.VideoUrl" target="_blank">Video!</a>
                }
            </td>
            <td>@scoreDisplay</td>
            <td>@Html.DisplayFor(model => item.Jumper1)</td>
            <td>@Html.DisplayFor(model => item.Jumper2)</td>
            <td>@Html.DisplayFor(model => item.Jumper3)</td>
            <td>@Html.DisplayFor(model => item.Jumper4)</td>
            <td>@Html.DisplayFor(model => item.Camera)</td>            
        </tr>
    }
    </tbody>
</table>
@section scripts
{
    <script type="text/javascript">
        var dataTable;
        $(document).ready(function() {
            var sortOffset = @sortOffset;
            dataTable = $('#table1').DataTable({
                paging: false,
                searching: true,
                order: [[0 + sortOffset, "asc"], [2 + sortOffset, "asc"]]
            });
            showHideEmpty();
        });

        $(window).bind('hashchange', function(e) {
            showHideEmpty();
        });

        function showHideEmpty() {
            var colIndex = @scoreColumnIndex;
            if (location.hash === "#showAll") {
                console.log('show all');
                dataTable.column(colIndex).search('').draw();
            }
            else if (location.hash === "#showEmpty") {
                console.log('show empty');
                dataTable.column(colIndex).search('^\s*$', true, false).draw();
            }
        }
    </script>
}