@model Scrambles.Models.RoundListVM

@{
    ViewBag.Title = "Rounds";
    //const string imageSize = "200px";
}

@if (Model.IsAdmin)
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Rounds[0].RoundNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rounds[0].Formations)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rounds[0].Formations)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Rounds) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RoundNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Formations)
        </td>
       
        <td>
            @if (Model.IsAdmin)
            {
                @Html.ActionLink("Edit", "Edit", new {id = item.RoundID}) <text> | </text>
                @Html.ActionLink("Details", "Details", new {id = item.RoundID}) <text> | </text>
                @Html.ActionLink("Delete", "Delete", new {id = item.RoundID})
            }
        </td>
    </tr>
}

</table>
