@model Data.Sql.Models.Jumper

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Jumper</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfJumps)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfJumps)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Organizer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Organizer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Paid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Paid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RandomizedUpDown)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RandomizedUpDown)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RandomizedLetter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RandomizedLetter)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.JumperID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
