@using Data.Sql.Models
@model IEnumerable<Data.Sql.Models.Jumper>

@{
    ViewBag.Title = "Jumper List";
}

<h2>@ViewBag.Title</h2>

<div style="float: left">
    @Html.ActionLink("Add Jumper", "Create")
</div>
<div style="float: right">
    @Html.ActionLink("Randomize Jumpers!", "Randomize")

</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfJumps)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Organizer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Paid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RandomizedUpDown)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JumpGroup)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RandomizedLetter)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfJumps)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Organizer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Paid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td>
            @{
                string displayText = null;
                if (item.RandomizedUpDown != null)
                {
                    displayText = item.RandomizedUpDown == UpDownFlag.UpJumper ? "Up" : "Down";
                }
            }
            @displayText
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JumpGroup)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RandomizedLetter)
        </td>
        <td style="white-space: nowrap;">
            @Html.ActionLink("Edit", "Edit", new { id=item.JumperID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.JumperID })
        </td>
    </tr>
}

</table>
