@model System.Collections.Generic.IEnumerable<Scrambles.Models.ScoresListRow>


<div style="padding-top: 10px;">
    <h3>
        <span>
            <a class="panel-heading label label-primary" href="#showAll">Show All</a>
            <a class="panel-heading label label-primary" href="#showEmpty">Show Empty</a>
        </span>
    </h3>
</div>
<table id="table1">
    <thead>
    <tr>
        <th>Edit</th>
        <th>@Html.DisplayNameFor(model => model.RoundNumber)</th>
        <th>@Html.DisplayNameFor(model => model.Score)</th>
        <th>@Html.DisplayNameFor(model => model.Jumper1)</th>
        <th>@Html.DisplayNameFor(model => model.Jumper2)</th>
        <th>@Html.DisplayNameFor(model => model.Jumper3)</th>
        <th>@Html.DisplayNameFor(model => model.Jumper4)</th>
        <th>@Html.DisplayNameFor(model => model.Camera)</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        var scoreDisplay = item.Score != null ? item.Score.ToString() : " ";
        <tr>
            <td>@Html.ActionLink("Edit", "Edit", new {id = item.ID})</td>
            <td>@Html.DisplayFor(model => item.RoundNumber)</td>
            <td>@scoreDisplay</td>
            <td>@Html.DisplayFor(model => item.Jumper1)</td>
            <td>@Html.DisplayFor(model => item.Jumper2)</td>
            <td>@Html.DisplayFor(model => item.Jumper3)</td>
            <td>@Html.DisplayFor(model => item.Jumper4)</td>
            <td>@Html.DisplayFor(model => item.Camera)</td>
        </tr>
    }
    </tbody>
</table>
@section scripts
{
    <script type="text/javascript">
        var dataTable;
        $(document).ready(function() {
            dataTable = $('#table1').DataTable({
                paging: false,
                searching: true,
                order: [[1, "asc"], [2, "asc"]]
            });
            showHideEmpty();
        });

        $(window).bind('hashchange', function(e) {
            showHideEmpty();
        });

        function showHideEmpty() {
            if (location.hash === "#showAll") {
                console.log('show all');
                dataTable.column(2).search('').draw();
            }
            else if (location.hash === "#showEmpty") {
                console.log('show empty');
                dataTable.column(2).search('^\s*$', true, false).draw();
            }
        }
    </script>
}