@model Scrambles.Models.ResultsVM

<div class="container" style="">
    <div class="col-lg-6">
        <h2><span class="panel-heading label label-primary">Up Jumpers</span></h2>
        <table id="upJumpers">
            <thead>
            <tr>
                <th style="width: 50%">Name</th>
                <th style="width: 25%">Number of Jumps</th>
                <th style="width: 25%">Total Score</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.UpJumperScores)
            {
                <tr>
                    <td>@item.Name</td>
                    <th>@item.TotalJumps</th>
                    <td>@item.TotalScore</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    <div class="col-lg-6">
        <h2><span class="panel-heading label label-primary">Down Jumpers</span></h2>
        <table id="downJumpers">
            <thead>
            <tr>
                <th style="width: 50%">Name</th>
                <th style="width: 25%">Number of Jumps</th>
                <th style="width: 25%">Total Score</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.DownJumperScores)
            {
                <tr>
                    <td>@item.Name</td>
                    <th>@item.TotalJumps</th>
                    <td>@item.TotalScore</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function() {
            $('#upJumpers').DataTable({
                paging: false,
                searching: false,
                order: [[2, "desc"]]
            });
            $('#downJumpers').DataTable({
                paging: false,
                searching: false,
                order: [[2, "desc"]]
            });
        });
    </script>
} 